<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MIR3_HRIS_Sync_NET452.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <MIR3_HRIS_Sync_NET452.Properties.Settings>
            <setting name="MIR3_HRIS_Sync_NET452_MIR3WebService_Mir3Service"
                serializeAs="String">
                <value>https://inwebservices.mir3.com/services/mir3</value>
            </setting>
        </MIR3_HRIS_Sync_NET452.Properties.Settings>
    </applicationSettings>
</configuration>